<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="shortcut icon" href="https://telegra.ph/file/a3374ddefcec357cd06b2.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="estilo.css">
    <title>NSFW - Trevo Api</title>
</head>

<style>
* {
    margin: 0;
    padding: 0;
}

html {
    background: #000000 url(https://telegra.ph/file/226e26020fbc0286102cb.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.item {
    background-color: #1c1c1c;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.sub-menu {
    margin-top: 15px;
}

.sub-menu .dropdown-item {
    margin-top: 5px;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    display: block;
    margin: 15px;
    padding: 7px;
    border-radius: 5px;
}

h2{
    text-align: center;
}

h2 i{
    color: green;
}
</style>

<body>
    <div class="item">
        <h2><i class='far fa-check-circle'></i>DOWNLOADER</h2>
        <div class="sub-menu">

          <a class="dropdown-item" target="_blank"
            href="/anikit/playmp4?query=vmz baka&username=<%= user.username %>&key=<%= user.key %>"
            target="_blank">Youtube MP4</a>

          <a class="dropdown-item" target="_blank"
            href="/anikit/playmp3?query=vmz baka&username=<%= user.username %>&key=<%= user.key %>"
            target="_blank">Youtube MP3</a>

          <a class="dropdown-item" target="_blank"
            href="/anikit/tiktok?videoUrl=https://vm.tiktok.com/ZMjLFBD7e/&username=<%= user.username %>&key=<%= user.key %>"
            target="_blank">TikTok Video</a>

          <a class="dropdown-item" target="_blank"
            href="/18/video?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Video +18</a>

          <a class="dropdown-item" target="_blank"
            href="/18/foto_18?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Foto +18</a>

          <a class="dropdown-item" target="_blank"
            href="/18/travazap?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Foto pra
            perfil</a>

          <a class="dropdown-item" target="_blank" href="/memes?username=<%= user.username %>&key=<%= user.key %>"
            target="_blank">memes</a><br><br>

        </div>
      </div>

</body>

</html>