<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="shortcut icon" href="https://telegra.ph/file/a3374ddefcec357cd06b2.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="estilo.css">
    <title>NSFW - Trevo Api</title>
</head>

<style>
* {
    margin: 0;
    padding: 0;
}

html {
    background: #000000 url(https://telegra.ph/file/226e26020fbc0286102cb.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.item {
    background-color: #1c1c1c;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.sub-menu {
    margin-top: 15px;
}

.sub-menu .dropdown-item {
    margin-top: 5px;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    display: block;
    margin: 15px;
    padding: 7px;
    border-radius: 5px;
}

h2{
    text-align: center;
}

h2 i{
    color: green;
}
</style>

<body>
    <div class="item">
        <h2><i class='far fa-check-circle'></i>NSFW</h2>
        <div class="sub-menu">
            <a class="dropdown-item" target="_blank"
                href="/nime/nsfwloli?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Nswf loli</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/ahegao?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw ahegao</a>
            <a class="dropdown-item" target="_blank" href="/nsfw/ass?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">nsfw ass</a>
            <a class="dropdown-item" target="_blank" href="/nsfw/bdsm?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">Nswf bdsm</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/blowjob?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw blowjob</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/cuckold?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw cuckold</a>
            <a class="dropdown-item" target="_blank" href="/nsfw/cum?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">nsfw cum</a>
            <a class="dropdown-item" target="_blank" href="/nsfw/ero?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">nsfw ero</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/femdom?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw femdom</a>
            <a class="dropdown-item" target="_blank" href="/nsfw/foot?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">nsfw foot</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/gangbang?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw
                gangbanh</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/glasses?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw glasses</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/hentai?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw hentai</a>
            <a class="dropdown-item" target="_blank" href="/nsfw/gifs?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">nsfw gifs</a>
            <a class="dropdown-item" target="_blank" href="/nsfw/jahy?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">nsfw jahy</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/manga?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw manga</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/masturbation?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw
                mstb</a>
            <a class="dropdown-item" target="_blank" href="/nsfw/neko?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">nsfw neko</a>
            <a class="dropdown-item" target="_blank" href="/nsfw/orgy?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">nsfw orgy</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/panties?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw panties</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/pussy?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw pussy</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/neko2?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw neko2</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/tentacles?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw
                tentacles</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/thighs?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw things</a>
            <a class="dropdown-item" target="_blank" href="/nsfw/yuri?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">nsfw yuri</a>
            <a class="dropdown-item" target="_blank"
                href="/nsfw/zettai?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw zettai</a><br><br>
        </div>
    </div>

</body>

</html>