<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <title>Lista de Logins</title>
</head>
<style>
        *{
          margin: 0;
        }
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #333;
        }

.dark-theme {
  background-color: #333; /* Cor de fundo escuro */
  color: #fff; /* Cor do texto escuro */
}

.dark-theme .video-container {
  background-color: #444; /* Cor de fundo do contêiner de vídeo escuro */
}

.dark-theme .header {
  background-color: #444; /* Cor de fundo do cabeçalho escuro */
}

.dark-theme footer {
  background-color: #444; /* Cor de fundo do cabeçalho escuro */
}

.dark-theme .example {
      background-color: #555;
    }

        h1 {
            color: white;
        }

        .menu-container {
            position: absolute;
            top: 0;
            left: -100%;
            height: 100%;
            width: 180px;
            background-color: #333;
            color: #fff;
            padding: 20px;
            transition: left 0.3s ease-in-out;
        }

        .menu-container.show-menu {
            left: 0;
        }

        .menu-container button {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            }

        .menu-container button:hover {
            background-color: #0056b3;
        }

        .menu-toggle {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 24px;
            cursor: pointer;
            display: block;
            color: white;
        }
        
        /* Estilos para o botão de perfil no canto superior direito */
        .btn_icon_header {
            font-size: 24px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: white;
            margin-left: auto;
        }

        .header {
            background-color: #444;
            justify-content: space-between;
            padding: 0 10%;
            height: 3.5em;
            margin: 0;
            box-shadow: 1px 1px 4px black;
            display: flex;
            align-items: center; /* Centralizar itens verticalmente */
        }

        .menu-toggle.hide-menu {
            display: none;
        }

        .close-button {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 24px;
            cursor: pointer;
        }

        .video-container {
            margin-left: 200px;
            max-width: 99%;
            margin: 20px auto;
            margin: 15px;
            background-color: #444;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            padding: 20px;
            border-radius: 8px;
            color: white;
            box-shadow: 1px 1px 1px black;
        }
        input[type="text"],
        input[type="password"],
        input[type="submit"] {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: white;
            color: black;
        }
        .video-player-container {
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        a {
            text-decoration: none;
        }
        
        
.download-button {
    left: 10px;
}

.update-button {
    right: 10px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 10px;
    overflow: hidden;
}

#imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




footer {
            background-color: #444;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            box-shadow: 4px 1px 1px 2px black;
        }

        footer p {
            margin: 0;
        }
        footer a {
            color: var(--color-purple);
        }

/* Restante do CSS omitido por questão de concisão */

.logo_header {
  display: flex;
  align-items: center;
  margin-left: auto; /* Mover para o canto direito */
  font-size: 21px; /* Tamanho do texto AniKit */
  font-family: 'Roboto', sans-serif; /* Usando a fonte Roboto do Google Fonts */
}

/* Estilo para a imagem de perfil no botão */
.profile-image {
  width: 30px; /* Ajuste o tamanho conforme necessário */
  height: 30px; /* Ajuste o tamanho conforme necessário */
  border-radius: 50%; /* Para ter a forma circular */
  margin-right: 10px; /* Espaçamento entre a imagem e o texto */
}

/* Estilo para o ícone do usuário do Font Awesome */
.btn_icon_header {
  font-family: 'Font Awesome 5 Free'; /* Usando a fonte Font Awesome */
  font-size: 21px;
  margin-left: auto; 
}

 
 i {
 color: white;
 }
 
         :root{
            --color-white: #fff;
            --color-dark1: rgb(39, 39, 39);
            --color-dark2: #444;
            --color-dark3: #414141;
            --color-dark4: #1c1c1c;
            --color-dark5: #343434;
            --color-purple: #b040ff;
        }
        *{
            margin: 0;
            padding: 0;
        }

        .img_logo_header{
            width: 45px;
        }
        .header,
        .navigation_header{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .header{
            background-color: var(--color-dark2);
            display: flex;
    justify-content: space-between;
            padding: 0 10%;
            height: 3.5em;
            box-shadow: 1px 1px 4px var(--color-dark4);
        }





            .navigation_header{
                position: absolute;
                flex-direction: column !important;
                top: 0;
                background: var(--color-dark5);
                height: 100%;
                width: 35vw;
                padding: 1em;
                animation-duration: 1s;
                margin-left: -100vw;
            }
            .btn_icon_header{
                display: block;
                border: none;
                color: var(--color-gray);
                cursor: pointer;
                margin-left: 10px; /* Adicione margem entre o botão e o nome */
                background-color: transparent;
            }
        .content{
            padding-top: 5em;
            text-align: center;
            height: 100vh;
            transition: 1s;
        }
        .navigation_header a{
            text-decoration: none;
            color: var(--color-purple);
            transition: 1s;
            font-weight: bold;
        }
        .navigation_header a:hover{
            color: var(--color-white);
        }
        .active{
            background: var(--color-dark3);
            padding: 10px;
            border-radius: 10px;
        }

        @media screen and (max-width: 768px) {
            .navigation_header{
                position: absolute;
                flex-direction: column !important;
                top: 0;
                background: var(--color-dark5);
                height: 100%;
                width: 35vw;
                padding: 1em;
                animation-duration: 1s;
                margin-left: -100vw;
            }
            .btn_icon_header{
                display: block;
            }
        }
        @keyframes showSidebar {
            from {margin-left: -100vw;}
            to {margin-left: -10vw;}
        }
        body {
    background-color: #333;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
}



h1 {
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

#imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 10px;
    overflow: hidden;
}

.image {
    width: 80%;
    height: auto;
    object-fit: cover;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    border-radius:  50%;
}

/* Restante do código CSS permanece o mesmo */


.download-button,
.update-button {
    position: absolute;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4C566A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #FFFFFF;
}

.download-button:hover,
.update-button:hover {
    background-color: #2E3440;
}

/* Restante do código CSS permanece o mesmo */

.download-button {
    left: 10px;
}

.update-button {
    right: 10px;
}

@media (max-width: 768px) {
    .image-container {
        max-width: 100%;
    }
}
.docs{
  margin: 15px;
  color: white;
  font-size: 19px;
  margin: 15px;
  background-color: #4B0082;
  border-radius: 15px;
}
.docs p{
  margin: 15px;
}
footer {
            background-color: #444;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            box-shadow: 1px 1px 4px black;
        }

        footer p {
            margin: 0;
        }
        footer a {
            color: var(--color-purple);
        }
    
    .logo_header {
    display: flex;
    align-items: center;
}

  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-name {
    font-size: 18px;
    text-align: center;
    color: white;
  }
  

    p {
      margin-bottom: 10px;
      margin: 10px;
      color: white;
      text-align: center;
    }
    .aoba {
      padding: 3px 5px;
      font-size: 14px;
      border-radius: 3px;
      background-color: black;
      color: green;
      padding: 8px;
      font-size: 14px;
      text-align: initial;
    }
    .endpoint {
      margin: 10px;
      padding: 10px;
      background-color: #444;
      border-radius: 7px;
      text-align: initial;
    }
    .example {
      background-color: #444;
      color: white;
      padding: 10px;
      border-radius: 7px;
      margin: 10px;
      text-align: initial;
    }
    .kik{
      margin-top: 5px;
      color: white;
    }
    
    </style>
</head>




<body>

  <div class="menu-container" id="menu">
        <span class="close-button" onclick="toggleMenu()">&#10006;</span>
        <h3>Menu</h3><br><hr><br>
        <button onclick="toggleDarkTheme()">Tema Escuro</button>
        <button onclick="changeBackgroundColor()">Mudar Cor</button>
  </div>
  <div class="header">
    <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
    <div class="logo_header">
      <i>AniKit   </i>
      <button onclick="redirectToProfile()" class="btn_icon_header">
        <i class='fas fa-user-edit'>
</i>
      </button>
    </div>
  </div>
    <br>
    <h1>Transformando imagens de anime em realidade.</h1>
    <div class="video-container">
    <div id="imagePerfil">
    </div>
    <center>
    <img class="image" src='<%= user.ft %>'>
    </center><br>
    <h3>Ola @<%= user.username %> seja bem-vindo(a)</h3>

    </div>
    <br>
      <h1>Documentação</h1>
  <p>Essa API possui várias rotas disponíveis para realizar diferentes ações. Abaixo estão os detalhes de cada rota</p>

  <!-- Rota anime/{command} -->
  <div class="video-container">
    <h2>Rota:<div class="aoba">/anime/{Tipo}?username=<%= user.username %>&key<%= user.key %></div></h2>
    <h2>Tipos disponíveis</h2>
    <p class="kik">
      cosplay,
waifu,
waifu2,
shota,
loli,
yotsuba,
shinomiya,
yumeko,
tejina,
chiho,
shizuka,
boruto,
kagori,
kaga,
kotori,
mikasa,
akiyama,
hinata,
minato,
naruto,
nezuko,
yuki,
hestia,
emilia,
itachi,
elaina,
madara,
sasuke,
deidara,
sakura,
tsunade
    </p>
    <!-- Detalhes omitidos para simplificar -->
  </div>

  <!-- Rota nsfw/{command} -->
  <div class="video-container">
    <h2>Rota: <div class="aoba">/nsfw/{Tipo}?username=<%= user.username %>&key<%= user.key %></div></h2>
        <h2>Tipos disponíveis</h2>
    <p class="kik">
ahegao,
ass,
bdsm,
blowjob,
cuckold,
cum,
ero,
kasedaiki,
femdom,
foot,
gangbang,
glasses,
hentai2,
jahy,
manga,
masturbation,
neko,
orgy,
panties,
pussy,
neko2,
neko,
tentacles,
thighs,
yuri,
zettai
    </p>
    <!-- Detalhes omitidos para evitar conteúdo inapropriado -->
  </div>

  <!-- Rota anikit/ytmp4 -->
  <div class="video-container">
    <h2>Rota: <div class="aoba">/anikit/ytmp4</div></h2>
    <!-- Detalhes omitidos para simplificar -->

  <div class="example">
    <p><strong>Exemplo de Requisição (ytmp4):</strong></p>
    <div><div class="aoba">GET https://anikit-9yjf.onrender.com/anikit/ytmp4?username=<%= user.username %>&key<%= user.key %>&<br>videoUrl=https://www.youtube.com/watch?v=exemplo</div></div>
    <p><strong>Exemplo de Resposta (ytmp4):</strong></p>
    <div><div class="aoba">{"url": "https://exemplo.com/video_baixado.mp4"}</div></div>
  </div>  </div>

  <!-- Rota anikit/ytmp3 -->
  <div class="video-container">
    <h2>Rota: <div class="aoba">/anikit/ytmp3</div></h2>
    <!-- Detalhes omitidos para simplificar -->

  <div class="example">
    <p><strong>Exemplo de Requisição (ytmp3):</strong></p>
    <div><div class="aoba">GET https://anikit-9yjf.onrender.com/anikit/ytmp3?username=<%= user.username %>&key<%= user.key %>&<br>videoUrl=https://www.youtube.com/watch?v=exemplo</div></div>
    <p><strong>Exemplo de Resposta (ytmp3):</strong></p>
    <div><div class="aoba">{"url": "https://exemplo.com/audio_baixado.mp3"}</div></div>
  </div>  </div>

  <!-- Rota anikit/playmp4 -->
  <div class="video-container">
    <h2>Rota: <div class="aoba">/anikit/playmp4</div></h2>
    <!-- Detalhes omitidos para simplificar -->

  <div class="example">
    <p><strong>Exemplo de Requisição (playmp4):</strong></p>
    <div><div class="aoba">GET https://anikit-9yjf.onrender.com/anikit/playmp4?username=<%= user.username %>&key<%= user.key %>&<br>query=nome_musica</div></div>
    <p><strong>Exemplo de Resposta (playmp4):</strong></p>
    <div><div class="aoba">{<br>
  "title": "titulo",<br>
  "thumb": "https://i.ytimg.com/vi/humb.jpg",<br>
  "channel": "@clovermods",<br>
  "published": "1822-08-09",<br>
  "views": "1B",<br>
  "url": "https://exemplo.com/audio_reproduzido.mp4"
  <br>}</div></div>
  </div>  </div>

  <!-- Rota anikit/playmp3 -->
  <div class="video-container">
    <h2>Rota: <div class="aoba">/anikit/playmp3</div></h2>
    <!-- Detalhes omitidos para simplificar -->

  <div class="example">
    <p><strong>Exemplo de Requisição (playmp3):</strong></p>
    <div><div class="aoba">GET https://anikit-9yjf.onrender.com/anikit/playmp3?username=<%= user.username %>&key<%= user.key %>&<br>query=nome_musica</div></div>
    <p><strong>Exemplo de Resposta (playmp3):</strong></p>
    <div><div class="aoba">{<br>
  "title": "titulo",<br>
  "thumb": "https://i.ytimg.com/vi/humb.jpg",<br>
  "channel": "@clovermods",<br>
  "published": "1822-08-09",<br>
  "views": "1B",<br>
  "url": "https://exemplo.com/audio_reproduzido.mp3"
  <br>}</div></div>
  </div>  </div>
    <br>
<h1>Lista de Usuários com mais saldo</h1>
    <div class="video-container">
<center>
<% topUsers.sort((a, b) => b.saldo - a.saldo).forEach(function(user) { %><br>
  <div class="user-info">
    <img class="user-photo" src="<%= user.ft %>" alt="Foto do Usuário">
    <div class="user-name">@<%= user.username %>: <%= user.saldo %></div>
  </div><hr>
<% }); %>

</center>


  </div>
  <br><br>
    <footer>
      <p>Desenvolvido com 💜 por <a href="https://youtube.com/@clovermods">@clovermods</a></p>
   </footer>

    <script>

    // ... outros códigos ...
// arquivo.js

// Função para carregar o arquivo JSON de usuários
function carregarUsuarios(callback) {
  var xhr = new XMLHttpRequest();
  xhr.overrideMimeType("application/json");
  xhr.open("GET", "../data/users.json", true);
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4 && xhr.status == "200") {
      var data = JSON.parse(xhr.responseText);
      callback(data.users);
    }
  };
  xhr.send(null);
}

// Função para exibir os 7 usuários com os saldos mais altos
function exibirTop7Usuarios() {
  carregarUsuarios(function (usuarios) {
    usuarios.sort(function (a, b) {
      return b.saldo - a.saldo;
    });
    var topUsers = usuarios.slice(0, 7);

    var tabelaUsuarios = document.getElementById("tabela-usuarios");

    topUsers.forEach(function (user) {
      var row = tabelaUsuarios.insertRow();
      var nomeCell = row.insertCell(0);
      var saldoCell = row.insertCell(1);

      nomeCell.innerHTML = user.username;
      saldoCell.innerHTML = user.saldo;
    });
  });
}

// Chama a função para exibir os 7 usuários com os saldos mais altos
//exibirTop7Usuarios();


    function getURLParams() {
            const searchParams = new URLSearchParams(window.location.search);
            const username = searchParams.get('username');
            const key = searchParams.get('key');
            return { username, key };
        }

        // Função para redirecionar o usuário para o perfil com a chave e o nome do usuário
        function redirectToProfile() {
            const { username, key } = getURLParams();
            if (username && key) {
                const profileUrl = `/login`;
                window.location.href = profileUrl;
            } else {
                alert('Nome de usuário ou chave não fornecidos na URL.');
            }
        }

    // ... outros códigos ...
      // Função para atualizar a imagem
      /*
function updateImage() {
    // Fazer uma solicitação para a API de imagens de animes
    fetch('https://appp--trevodev.repl.co/anime/elaina?username=SUPREMO&key=key')
        .then(response => response.json())
        .then(data => {
            const imageGallery = document.getElementById('imageGallery');
            imageGallery.innerHTML = ''; // Limpar as imagens anteriores

            // Verificar se a resposta contém a propriedade 'url'
            if (data.url) {
                // Criar elemento de imagem e definir a URL da imagem
                const imgElement = document.createElement('img');
                imgElement.src = data.url;
                imgElement.classList.add('image');

                // Criar contêiner para a imagem
                const imageContainer = document.createElement('div');
                imageContainer.classList.add('image-container');

                // Adicionar a imagem ao contêiner
                imageContainer.appendChild(imgElement);

 // Criar botão de download
const downloadButton = document.createElement('button');
downloadButton.innerHTML = '<i class="fas fa-download"></i>';
downloadButton.classList.add('download-button');
downloadButton.addEventListener('click', function() {
    // Lógica para download da imagem
    const link = document.createElement('a');
    link.href = data.url;
    link.download = 'imagem.jpg';
    link.click();
});

// Adicionar o botão de download ao contêiner
imageContainer.appendChild(downloadButton);


                // Criar botão de atualização
                const updateButton = document.createElement('button');
                updateButton.innerHTML = '<i class="fas fa-sync-alt"></i>';
                updateButton.classList.add('update-button');
                updateButton.addEventListener('click', updateImage);

                // Adicionar o botão de atualização ao contêiner
                imageContainer.appendChild(updateButton);

                // Adicionar o contêiner de imagem à galeria
                imageGallery.appendChild(imageContainer);
            }
        })
        .catch(error => console.log(error));
}
*/


// Chamar a função para exibir a primeira imagem
updateImage();
//setInterval(updateImage, 5000);

        function toggleDarkTheme() {
                        const body = document.querySelector('body');
            const card = document.querySelector('.video-container ');
            const cabeca = document.querySelector('.header');
            const footer = document.querySelector('footer');
            const endpoint = document.querySelector('.endpoint')
            body.classList.toggle('dark-theme');
            cabeca.classList.toggle('dark-theme');
            card.classList.toggle('dark-theme');
            footer.classList.toggle('dark-theme');
            endpoint.classList.toggle('dark-theme');
        }

        function changeBackgroundColor() {
            const newColor = prompt('Digite uma cor em formato hexadecimal (#RRGGBB) ou um nome de cor:');
            const body = document.querySelector('body');
            body.style.backgroundColor = newColor;
        }

        

        function toggleMenu() {
            const menu = document.getElementById('menu');
            const menuToggle = document.querySelector('.menu-toggle');

            menu.classList.toggle('show-menu');
            menuToggle.classList.toggle('hide-menu');
        }
        
        function _0x46c6(_0x2c0605,_0x1db1ab){var _0x4c23c1=_0x4c23();return _0x46c6=function(_0x46c68c,_0x3cf67f){_0x46c68c=_0x46c68c-0x18f;var _0x51ebd6=_0x4c23c1[_0x46c68c];return _0x51ebd6;},_0x46c6(_0x2c0605,_0x1db1ab);}var _0x3a16c2=_0x46c6;function _0x4c23(){var _0x180f57=['3742320HnNHDN','content','getElementById','-100vw','9reQYrY','filter','21684792ahELoT','showSidebar','blur(2px)','1367430aUIAwL','animationName','marginLeft','style','2924658RkzNTn','50733ThhihE','navigation_header','header','1702005DJjfZl','innerWidth','6099898vTeIXV','resize','404iBEIcz'];_0x4c23=function(){return _0x180f57;};return _0x4c23();}(function(_0x5f2542,_0x4fffc6){var _0xea6af6=_0x46c6,_0x21a879=_0x5f2542();while(!![]){try{var _0x551f86=-parseInt(_0xea6af6(0x18f))/0x1+-parseInt(_0xea6af6(0x1a1))/0x2+parseInt(_0xea6af6(0x1a2))/0x3*(parseInt(_0xea6af6(0x193))/0x4)+parseInt(_0xea6af6(0x194))/0x5+-parseInt(_0xea6af6(0x19d))/0x6+-parseInt(_0xea6af6(0x191))/0x7+parseInt(_0xea6af6(0x19a))/0x8*(parseInt(_0xea6af6(0x198))/0x9);if(_0x551f86===_0x4fffc6)break;else _0x21a879['push'](_0x21a879['shift']());}catch(_0x325724){_0x21a879['push'](_0x21a879['shift']());}}}(_0x4c23,0xdc8fd));var header=document['getElementById'](_0x3a16c2(0x1a4)),navigationHeader=document[_0x3a16c2(0x196)](_0x3a16c2(0x1a3)),content=document[_0x3a16c2(0x196)](_0x3a16c2(0x195)),showSidebar=![];function toggleSidebar(){var _0x1ca7bb=_0x3a16c2;showSidebar=!showSidebar,showSidebar?(navigationHeader[_0x1ca7bb(0x1a0)]['marginLeft']='-10vw',navigationHeader[_0x1ca7bb(0x1a0)]['animationName']=_0x1ca7bb(0x19b),content['style'][_0x1ca7bb(0x199)]=_0x1ca7bb(0x19c)):(navigationHeader['style'][_0x1ca7bb(0x19f)]=_0x1ca7bb(0x197),navigationHeader[_0x1ca7bb(0x1a0)][_0x1ca7bb(0x19e)]='',content['style']['filter']='');}function closeSidebar(){showSidebar&&(showSidebar=!![],toggleSidebar());}window['addEventListener'](_0x3a16c2(0x192),function(_0x117be5){var _0x285fc6=_0x3a16c2;window[_0x285fc6(0x190)]>0x300&&showSidebar&&(showSidebar=!![],toggleSidebar());});



    </script>
</body>
</html>
