<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
  <link rel="stylesheet" href="style.css">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="shortcut icon" href="https://telegra.ph/file/a3374ddefcec357cd06b2.jpg" type="image/x-icon" />
  <title>Clover-Mods</title>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://inirey.github.io/lolhuman/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
    type="text/css">
  <link href="https://inirey.github.io/lolhuman/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"
    type="text/css">
  <link href="https://inirey.github.io/lolhuman/css/default.css" rel="stylesheet">
  <link href="./cor.css" rel="stylesheet">
  <style>
    :root {
      --color-white: #fff;
      --color-dark1: rgb(39, 39, 39);
      --color-dark2: grenn;
      --color-dark3: black;
      --color-dark4: #1c1c1c;
      --color-dark5: #343434;
      --color-purple: #b040ff;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

    body {
      min-height: 100vh;
      background-color: black;
      background-size: 200% 200%;
      animation: color 2.7s ease infinite;
      color: white;
    }

    @keyframes color {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

    body.dark-mode {
      --bg-opacity: 1;
      background-color: #1a202c;
      background-color: rgba(26, 32, 44, var(--bg-opacity));
      color: #d3d5f3;
    }

    .card-body {
      background-color: #1c1c1c;

    }

    .sticky-footer {
      background-color: #1c1c1c;

      color: #fff
    }

    .sticky-footer a {
      color: #fff
    }

    .side-bar {
      background: rgba(000, 000, 000, 0.2);
      backdrop-filter: blur(15px);
      width: 290px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -100%;
      overflow-y: auto;
      transition: 0.5s ease;
      transition-property: left;
    }

    .side-bar.active {
      left: 0;
      position: absolute;
    }

    .side-bar .menu {
      width: 100%;
      margin-top: 35px;
      text-shadow: 7px 7px 7px black;
      position: absolute;
    }

    .side-bar .menu .item {
      position: relative;
      cursor: pointer;
    }

    .side-bar .menu .item a {
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      display: block;
      padding: 5px 30px;
      line-height: 40px;
    }

    .side-bar .menu .item a:hover {
      transition: 0.3s ease;

    }

    .side-bar .menu .item i {
      margin-right: 10px;
    }

    .side-bar .menu .item a .dropdown {
      background: rgba(000, 000, 000, 0.0);
      position: absolute;
      right: 0;
      margin: 13px;
      transition: 0.3s;
    }

    .sub-btn {
      text-shadow: 7px 7px 7px black;
      background: rgba(000, 000, 000, 0.0);
    }

    .side-bar .menu .item .sub-menu {
      background: transparent;
      display: none;
      box-shadow: 0 0 5px white;

    }

    .side-bar .menu .item .sub-menu a {
      padding-left: 80px;
      box-shadow: 0 0 5px white;

    }

    .rotate {
      transform: rotate(90deg);
    }

    .item {
      box-shadow: 0 0 2px white;
      border-radius: 9px;
      margin: 5px;
    }

    .close-btn {
      position: absolute;
      color: #fff;
      font-size: 20px;
      right: 0;
      margin: 25px;
      cursor: pointer;

    }

    .menu-btn i {}

    .menu-btn {
      position: absolute;
      color: #fff;
      font-size: 25px;
      margin: 17px;
      cursor: pointer;

    }

    .fe img {
      position: absolute;
      width: 30px;
      position: absolute;
      margin: 15px;
      margin-left: 90%;
      border-radius: 50%;
      box-shadow: 0 0 30px black;
    }

    h1 {
      text-align: center;

      margin-top: 25px;
    }

    .ab i {
      border-radius: 50%;
      text-align: center;

    }

    .txt i {
      text-align: center;
      margin-top: 25px;
      font-size: 25px;
      margin-left: 25px;
      right: 1px;

    }

    .tutotxt {
      background-color: #1c1c1c;
      margin: 24px;
    }

    .fotos {
      width: 90%;
      border-radius: 7px;
    }

    .tutotxtt {
      margin: 7px;
      text-align: center;
    }

    .aaaa {
      margin: 5px;
    }

    .cabeca {
      background-color: #1c1c1c;
      text-align: center;
      padding: 20px;
      box-shadow: 10px 10px 10px black;

    }

    .final {
      background-color: #1c1c1c;

      margin-bottom: 0;
      text-align: center;
      padding: 20px;
      box-shadow: 10px 10px 10px black;

    }

    .ft {
      position: absolute;
      font-size: 20px;
      position: absolute;
      margin: 23px;
      margin-left: 90%;

    }

    .det {
      position: absolute;
      font-size: 18px;
      position: absolute;
      margin: 22px;
      margin-left: 79.9%;


    }

    ga {
      display: none;
      margin-top: 25px;
      background-color: var(--color-dark3);
    }

    .suba a {
      position: absolute;
      font-size: 20px;
      position: absolute;
      margin: 19px;
      margin-left: -720%;

      padding: 20px 43px;
      background-color: var(--color-dark3);
      transition: 0.5s ease;
      transition-property: left;

    }

    .suba p {
      position: absolute;
      font-size: 13px;
      position: absolute;
      margin-left: -500%;

      padding: 20px 40px;
      background-color: var(--color-dark1);
      box-shadow: 0 0 7px black;

    }

    .fe img {
      border: solid 1px white;
    }

    .visitas {
      background-color: var(--color-dark3);
      border-radius: 7px;
      margin: 24px;
      box-shadow: 0 0 7px black;
      padding: 20px 30px;
    }

    .visitas h3 {}

    .visitas img {
      width: 25%;
    }



    .bv {}

    .amigo {
      margin-top: 90%;
    }

    .menuzin {

      padding: 20px 30px;
    }

    .menuzin summary {}

    .menuzin a {
      text-decoration: none;

    }

    details {
      transition: 6.3s;
    }

    .sup {
      text-align: center;
    }

    .content {
      border-radius: 20px;
      overflow: hidden;
    }

    .navigation {

      display: flex;
    }

    .nov {

      text-align: center;
    }

    .bar {

      width: 20%;
      height: 20%;
      border: 2px solid red;
      margin: 6px;
      margin-top: 0;
      border-radius: 15px;
      cursor: pointer;
      transform: .5s ease;
    }

    .bar:hover {
      background-color: darkred;

    }

    input {
      display: none;
    }

    .ain {
      width: 95%;
    }

    .slides {
      display: flex;
      width: 500%;
      height: 100%;
    }

    .slide {
      width: 20%;
      transition: .6s;
    }

    .content .slide img {
      width: 97%;
      border-radius: 15px;
    }

    #slide1:checked~.s1 {
      margin-left: -0%;
    }

    #slide2:checked~.s1 {
      margin-left: -20%;
    }

    #slide3:checked~.s1 {
      margin-left: -40%;
    }

    #slide4:checked~.s1 {
      margin-left: -60%;
    }

    #slide5:checked~.s1 {
      margin-left: -80%;
    }

    .laranja {
      background-color: orange;
      transition: all 0.25s ease-in-out;
    }

    .vermelho {
      background-color: red;
      transition: all 0.25s ease-in-out;
    }

    .purpura {
      background-color: purple;
      transition: all 0.25s ease-in-out;
    }

    .contaimer button {
      padding: 10px 10px;
      border-radius: 50%;

      cursor: pointer;
      font-size: 22px;
      font-weight: 300;
      margin: 0 px;
      border: 0;
    }

    div.contaimer {
      padding: 10px 20px;
      min-width: 90vw;
      text-align: center;
    }

    hr {
      color: white;
      background-color: white;
    }

    .laranja {
      background-color: orange;
      transition: all 0.25s ease-in-out;
      color: white;
    }

    .vermelho {
      background-color: red;
      transition: all 0.25s ease-in-out;
      color: white;
    }

    .purpura {
      background-color: white;
      transition: all 0.25s ease-in-out;
      color: white;
    }

    .contaimer button {
      padding: 10px 10px;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      font-size: 22px;
      font-weight: 300;
      margin: 0 10px;
    }

    div.contaimer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 90vw;
      text-align: center;
    }

    img {
      width: 100%;
    }

    .user-info {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    .user-photo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 13px;
    }

    .user-name {
      font-size: 18px;
      text-align: center;
      color: white;
    }

    .footer {
      text-align: center;
      font-size: 12px;
      margin: 10px;
      color: white;
      background: #1c1c1c;
      margin: 0;
      padding: 15px;
      box-shadow: 0 0 3px white;
    }

    .footer a {
      color: red;
      text-decoration: none;
    }

    .video-container {
      margin: 10px;
    }

    .ip h3 {
      text-align: center;
    }

    .verp {
      text-decoration-color: transparent;
    }

    .container2 {
      /* Alterado para alinhar os elementos à esquerda */
      background-color: rgba(0, 255, 0, 0.3);
      padding: 10px 10px;
      /* Ajustado o padding para aproximar a barra da imagem */
      width: 90%;
      /* Ajustado a largura para melhor acomodar os elementos */
      border-radius: 5px;
      color: white;
    }

    .container2 i {
      font-size: 23px;

    }

    .container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      /* Alterado para alinhar os elementos à esquerda */
      background-color: #1c1c1c;
      padding: 10px 10px;
      /* Ajustado o padding para aproximar a barra da imagem */
      width: 90%;
      /* Ajustado a largura para melhor acomodar os elementos */
      border-radius: 5px;
      color: white;
    }

    .fav-icon {
      font-size: 400%;
    }

    .vertical-bar {
      width: 2px;
      height: 44px;
      padding: 3px;
      background-color: #bd00ff;
      margin: 0 5px;
      /* Espaçamento reduzido entre a imagem e a barra */
    }

    .current-time {
      font-size: 23px;
      margin-right: 0;
      margin-left: 65%;
    }

    /* Estilize o bloco de novidades de acordo com suas preferências */
    .novidades {
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      text-align: center;
    }

    .novidades h2 {
      font-size: 24px;
      color: #333;
    }

    .noticia {
      margin: 25px 0;
      padding: 10px;
      background-color: #1c1c1c;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: left;
    }

    .noticia h3 {
      font-size: 18px;
      color: #333;
    }

    .noticia p {
      font-size: 14px;
      color: #777;
    }

    .opcao {
      padding: 5px;
      border: solid 1px #fff;
      margin: 5px;
      border-radius: 5px;
      text-align: left;
      color: #fff;
    }
  </style>
  <script>
    document.getElementById("btn-laranja").addEventListener("click", function () {
      document.querySelector("body").setAttribute("class", "laranja");
    })

    document.getElementById("btn-vermelho").addEventListener("click", function () {
      document.querySelector("body").setAttribute("class", "vermelho");
    })

    document.getElementById("btn-purpura").addEventListener("click", function () {
      document.querySelector("body").setAttribute("class", "purpura");
      document.querySelector("div").setAttribute("class", "purpura");
    })
  </script>
</head>

<body>

  <header>
    <nav>
      <!--
 <div class="menu-btn">
        <i class="fas fa-bars"></i>

      </div>
      -->



      </div>


      <div class="fe">
        <a href="/perfil">
          <img src="<%= user.ft %>" />
        </a>
      </div>
      <div class="side-bar">
        <div class="close-btn">
          <i class="fas fa-times"></i>
        </div>
        <div class="txt">
          <i class="fa fa-cog fa-spin fa-3x fa-fw"></i><i> Aproveite</i>
        </div>
        <br>
        <hr>
        <div class="menu">

          <div class="item">
            <a class="sub-btn"><i class='far fa-check-circle'></i>DOWNLOADER<i
                class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">

              <a class="sub-item" target="_blank"
                href="/anikit/playmp4?query=vmz baka&username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">Youtube MP4</a>

              <a class="sub-item" target="_blank"
                href="/anikit/playmp3?query=vmz baka&username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">Youtube MP3</a>

              <a class="sub-item" target="_blank"
                href="/anikit/tiktok?videoUrl=https://vm.tiktok.com/ZMjLFBD7e/&username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">TikTok Video</a>

              <a class="dropdown-item" target="_blank"
                href="/18/video?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Video +18</a>

              <a class="dropdown-item" target="_blank"
                href="/18/foto_18?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Foto +18</a>

              <a class="dropdown-item" target="_blank"
                href="/18/travazap?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Foto pra
                perfil</a>

              <a class="dropdown-item" target="_blank" href="/memes?username=<%= user.username %>&key=<%= user.key %>"
                target="_blank">memes</a>

            </div>
          </div>

          <div class="item">
            <a class="sub-btn"><i class='far fa-check-circle'></i>SFW<i class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">

              <a class="dropdown-item" target="_blank"
                href="/nime/cosplay?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
                Cosplay</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/waifu?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Waifu</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/waifu2?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Waifu2</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/shota?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Shota</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/loli?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Loli</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/yotsuba?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
                Yotsuba</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/shinomiya?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
                Shinomiya</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/yumeko?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Yumeko</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/tejina?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Tejina</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/chiho?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Chiho</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/shizuka?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
                Shizuka</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/boruto?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Boruto</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/kagori?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Kagori</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/kaga?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Kaga</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/kotori?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Kotori</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/mikasa?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Mikasa</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/akiyama?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
                Akiyama</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/hinata?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Hinata</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/minato?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Minato</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/naruto?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Naruto</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/nezuko?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Nezuko</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/yuki?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Yuki</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/hestia?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Hestia</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/emilia?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Emilia</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/itachi?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Itachi</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/elaina?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Elaina</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/madara?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Madara</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/sasuke?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Sasuke</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/deidara?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
                Deidara</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/sakura?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Sakura</a>
              <a class="dropdown-item" target="_blank"
                href="/nime/tsunade?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
                Tsunade</a>

            </div>
          </div>

          <div class="item">
            <a class="sub-btn"><i class='far fa-check-circle'></i>NSFW<i class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">
              <a class="dropdown-item" target="_blank"
                href="/nime/nsfwloli?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Nswf loli</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/ahegao?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw ahegao</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/ass?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw ass</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/bdsm?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Nswf bdsm</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/blowjob?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw blowjob</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/cuckold?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw cuckold</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/cum?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw cum</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/ero?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw ero</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/femdom?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw femdom</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/foot?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw foot</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/gangbang?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw
                gangbanh</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/glasses?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw glasses</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/hentai?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw hentai</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/gifs?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw gifs</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/jahy?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw jahy</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/manga?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw manga</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/masturbation?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw
                mstb</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/neko?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw neko</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/orgy?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw orgy</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/panties?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw panties</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/pussy?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw pussy</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/neko2?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw neko2</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/tentacles?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw
                tentacles</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/thighs?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw things</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/yuri?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw yuri</a>
              <a class="dropdown-item" target="_blank"
                href="/nsfw/zettai?username=<%= user.username %>&key=<%= user.key %>" target="_blank">nsfw zettai</a>
            </div>
          </div>

          <div class="item">
            <a class="sub-btn"><i class='fa fa-user-circle'></i><i class="sup">Info Animes</i><i
                class="fas fa-angle-right dropdown"></i></a>
            <div class="sub-menu">
              <a href="/recent-episodes?username=<%= user.username %>&key=<%= user.key %>">Episódios Recentes</a>
              <a href="/popular?username=<%= user.username %>&key=<%= user.key %>">Populares</a>
              <a href="/info/ID DO ANIME AQUI?username=<%= user.username %>&key=<%= user.key %>">Info Anime</a>
              <a href="/epis/ID DO ANIME AQUI?username=<%= user.username %>&key=<%= user.key %>">Episódios Do Anime</a>

            </div>
          </div>

          <div class="amigo">
            <hr>
            <br>
            <div class="item">
              <a class="sub-btn"><i class='fa fa-user-circle'></i><i class="sup">Suporte</i><i
                  class="fas fa-angle-right dropdown"></i></a>
              <div class="sub-menu">
                <a href="http://wa.me/557598659560">ADM</a>
              </div>
            </div>
            <div class="item">
              <a href="/logout" class="sub-btn"><i class='fa fa-user-circle'></i><i class="sup">Sair</i></a>
            </div>

          </div>

        </div>
      </div>


      </div>
      </div>

    </nav>


  </header>
  <div class="cabeca">
    <p class="fas fa-database"> AniKit - Api</p>
  </div>
  <div tabindex="0" class="content" onfocus="closeSidebar()" id="content">
  </div>
  <br><br>
  <!--

    <div class="novidades">
  <h2>Últimas Novidades</h2>
  <div class="noticia">
    <h3>Título da Notícia 1</h3>
    <p>Descrição da notícia 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="noticia">
    <h3>Título da Notícia 2</h3>
    <p>Descrição da notícia 2. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="noticia">
    <h3>Título da Notícia 3</h3>
    <p>Descrição da notícia 3. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
  </div>
</div> 
-->




  <center>

    <div id="content">
      <!-- Container Fluid-->
      <div class="container-fluid" id="container-wrapper">
        <div class="card h-50 mb-4">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col mr-2">
                <h3 style="margin-bottom: 0;"><i class="fas fa-ruler text-danger"></i>Ola <%= user.username %>
                </h3>

                <div class="card-body mb-3">
                  <ol>
                    <li>Nao mande sua apikey pra ninguem.</li>
                    <li>Nao mande sua senha pra ninguem</li>
                    <li>10K de saldo inicial</li>
                    <li>Quando acabar o saldo fale com o Suporte.</li>
                    <li>Aproveite</li>
                  </ol>
                </div>
              </div>
              <div class="col-auto">
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <!-- Earnings (Annual) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-50">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Registrados </div>
                    <div class="h5 mb-0 font-weight-bold">
                      <%= quantidade %> Users
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fa fa-users faa-ring animated fa-2x text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-50">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Ja Usou </div>
                    <div class="h5 mb-0 font-weight-bold">
                      <%= user.total %> Vezes
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-chart-area faa-ring animated fa-2x text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Earnings (Annual) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-50">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">ApiKey </div>
                    <div class="h5 mb-0 font-weight-bold">
                      <%= user.key %>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-key faa-ring animated fa-2x text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-50">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-uppercase mb-1">Saldo </div>
                    <div class="h5 mb-0 font-weight-bold">
                      <%= user.saldo %>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign faa-ring animated fa-2x text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Row-->
      </div>
      <!---Container Fluid-->
    </div>
  </center>

  <div class="tutotxt">
    <div class="tutotxtt">
      <br>
      <a href="/nsfw">
        <h4 class="opcao">NSFW</h4>
      </a>
      <a href="/downloads">
        <h4 class="opcao">DOWNLOADS</h4>
      </a>
      <a href="/sfw">
        <h4 class="opcao">SFW</h4>
      </a>
      <a href="/doisd">
        <h4 class="opcao">ANIMES</h4>
      </a>
      <br>
    </div>
  </div>

  <div class="tutotxt"><br>
    <h1>Lista de Usuários Mais Ativos</h1>
    <div class="tutotxtt">
      <center>
        <% topUsers.sort((a, b)=> b.total - a.total).forEach(function(user) { %><br>
          <a class="verp" href="/ver/<%= user.username %>">
            <div class="user-info">
              <img class="user-photo" src="<%= user.ft %>" alt="Foto do Usuário">
              <div class="user-name">@<%= user.username %>: <%= user.total %>
              </div>
            </div>
          </a>
          <hr><br>
          <% }); %>

      </center>
    </div>

  </div>




  </div>


  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <p><span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2023 Clover-Mods</span>
      </p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js">
  </script>
  <script>
    /*
    swal({
    title: 'Salve❤️',
    text: 'Espero que goste',
    imageUrl: 'https://pa1.narvii.com/6810/6ca17ac222220521e1c966cce82a34a52e12f3c4_hq.gif',
    footer: 'Clover-Mods',
    imageHeight: 200,
    imageAlt: ':)',
    animation: true
    })
    */
  </script>
  <!--
<audio autoplay="true" src="https://j.top4top.io/m_1772xeikf9.mp3">

</audio>
-->


  <script type="text/javascript">
    // alert('deseja continuar?')
    $(document).ready(function () {

      $('.sub-btn').click(function () {
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.dropdown').toggleClass('rotate');
      });

      $('.menu-btn').click(function () {
        $('.side-bar').addClass('active');
        $('.menu-btn').css("visibility", "hidden");
      });

      $('.close-btn').click(function () {
        $('.side-bar').removeClass('active');
        $('.menu-btn').css("visibility", "visible");
      });

    });


    let contador = 1;

    setInterval(function () {
      document.getElementById('slide' + contador).checked = true;
      contador++;

      if (counter > 5) {
        contador = 1;
      }
    }, 3000);


    document.getElementById("btn-laranja").addEventListener("click", function () {
      document.querySelector("tut").setAttribute("class", "laranja");
    })

    document.getElementById("btn-vermelho").addEventListener("click", function () {
      document.querySelector("body").setAttribute("class", "vermelho");
    })

    document.getElementById("btn-purpura").addEventListener("click", function () {
      document.querySelector("body").setAttribute("class", "purpura");
    })
  </script>
  <script src="https://inirey.github.io/lolhuman/vendor/jquery/jquery.min.js"></script>
  <script src="https://inirey.github.io/lolhuman/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://inirey.github.io/lolhuman/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://inirey.github.io/lolhuman/js/ruang-admin.min.js"></script>
</body>

</html>