<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="UTF-8"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="shortcut icon" href="https://telegra.ph/file/a3374ddefcec357cd06b2.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="estilo.css">
    <title>NSFW - Trevo Api</title>
</head>

<style>
* {
    margin: 0;
    padding: 0;
}

html {
    background: #000000 url(https://telegra.ph/file/226e26020fbc0286102cb.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.item {
    background-color: #1c1c1c;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.sub-menu {
    margin-top: 15px;
}

.sub-menu .dropdown-item {
    margin-top: 5px;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    display: block;
    margin: 15px;
    padding: 7px;
    border-radius: 5px;
}

h2{
    text-align: center;
}

h2 i{
    color: green;
}
</style>

<body>
    <div class="item">
        <h2><i class='far fa-check-circle'></i>SFW</h2>
        <div class="sub-menu">

          <a class="dropdown-item" target="_blank"
            href="/nime/cosplay?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
            Cosplay</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/waifu?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Waifu</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/waifu2?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Waifu2</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/shota?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Shota</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/loli?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Loli</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/yotsuba?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
            Yotsuba</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/shinomiya?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
            Shinomiya</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/yumeko?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Yumeko</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/tejina?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Tejina</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/chiho?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Chiho</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/shizuka?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
            Shizuka</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/boruto?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Boruto</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/kagori?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Kagori</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/kaga?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Kaga</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/kotori?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Kotori</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/mikasa?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Mikasa</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/akiyama?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
            Akiyama</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/hinata?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Hinata</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/minato?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Minato</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/naruto?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Naruto</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/nezuko?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Nezuko</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/yuki?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Yuki</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/hestia?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Hestia</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/emilia?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Emilia</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/itachi?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Itachi</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/elaina?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Elaina</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/madara?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Madara</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/sasuke?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Sasuke</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/deidara?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
            Deidara</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/sakura?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime Sakura</a>
          <a class="dropdown-item" target="_blank"
            href="/nime/tsunade?username=<%= user.username %>&key=<%= user.key %>" target="_blank">Anime
            Tsunade</a>

            <br><br>
        </div>
      </div>
</body>

</html>